body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    min-height: 100vh;
    background-image: url("../nhoa-website/Img/AZ2.jpg");
    background-size: cover;
}
h1{
    margin: 0;
    padding:0;
    color: rgb(206, 198, 189);
}

h2{
    color: rgb(206, 198, 189);
    text-align: center;
}
a{
    color: rgb(206, 198, 189);
    text-decoration: none;
    font-size: small;
}
.header{
    /* background-color: rgba(95, 82, 67, .7); */
}

.sloganContainer{
    background-color: rgb(40, 28, 32);
    width:100%;
    text-align: center;
    padding:0;
    margin:0;
}

.slogan{
    padding-bottom:10px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    color: rgb(206, 198, 189);
    max-width: 100%;
}

.typedOut{
    overflow: hidden;
    display: inline-flex;
    /* border-right: .15em solid orange; */
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 500;
    width:0;
    animation: 
        typing 3s steps(60,end) forwards,
        blink .8s infinite;
}

.mainContainer{
    /* background-image: url("../nhoa-website/Img/AZ2.jpg");
    background-size: cover; */
    flex-grow: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 46, 54, .9);
    width:100%;
    text-align: center;
}

.navOption{

}

.indexImg{
    width: 50px;
    height: auto;
}

.missionContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    max-width:850px;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}

.mission{
    text-align: center;
    text-align: justify;
    color: rgb(206, 198, 189);
    font-size: large;
}

.footer{
    background-color: rgb(66, 46, 54);
    padding: 10px;
    margin-top: auto;
    text-align: center;
    color: rgb(206, 198, 189, .85);
    font-size: x-small;
}

@keyframes typing{
    from {width:0 }
    to {width: 100%}
}

@keyframes blink{
    from{ border-color: transparent}
    to{ border-color: orange;}
}